In [2]:
import pandas as pd

In [3]:
dictionary = {'Autores': ['Rick Riordan', 'J. R. R. Tolkien', 'Rick Riordan', 'Machado de Assis'], 'Títulos': ['O Ladrão de Raios', 'A Sociedade do Anel', 'Mar de Monstros', 'Memórias Póstumas de Brás Cubas'], 'Preços': [41.2, 35.7, 39.5, 40.5]}

In [4]:
df = pd.DataFrame(dictionary)

In [5]:
df['Autores']

0        Rick Riordan
1    J. R. R. Tolkien
2        Rick Riordan
3    Machado de Assis
Name: Autores, dtype: object

In [6]:
df['Autores'][1]

'J. R. R. Tolkien'

In [7]:
df['Preços'].mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    41.2
1    35.7
2    39.5
3    40.5
Name: Preços, dtype: float64>

In [9]:
mascara = df['Autores'] == 'Rick Riordan'

In [10]:
df[mascara]

        Autores            Títulos  Preços
0  Rick Riordan  O Ladrão de Raios    41.2
2  Rick Riordan    Mar de Monstros    39.5

In [13]:
df = df.append({'Autores': 'Rick Riordan', 'Títulos': 'A Maldição do Titã', 'Preços': 40.20}, ignore_index = True)

C:\Users\rayan\AppData\Local\Temp\ipykernel_23180\132766123.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'Autores': 'Rick Riordan', 'Títulos': 'A Maldição do Titã', 'Preços': 40.20}, ignore_index = True)

In [15]:
mascara_correcao = df['Títulos'] == 'A Maldição do Titã'
df.loc[mascara_correcao, 'Títulos'] = 'A Maldição do Titã'